* {
    box-sizing: border-box;
}
body{
   background-color:rgba(0,0,0,.87) !important;
}

#main-navbar {
    transition: .8s;
}

.navigation:hover {
    color: #ffc500 !important;
    transition: 0.2s ease-out;
    cursor: pointer;
}


.marginHome{
    margin-top: -2rem;
}

h2 {
    color: #3D464F;
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    color: #D72323;
    font-size: 1.5em;
    font-weight: 600;
}

.text-danger {
    color: #D72323 !important;
}

.text-shadow {
    text-shadow: 3px 3px 30px rgba(0, 0, 0, .6);
}

.btn {
    box-shadow: none;
    border-radius: 100px;
}

.btn:hover {
    background: #ffc500 !important;
    transition: 0.2s ease-out;
    cursor: pointer;
    color: #000;
}

.orderBtn{
    background-color: #D72323 !important;
    color: white!important;

    font-size: .9375rem!important;
    padding: .78125rem 1rem!important;

    box-shadow: none!important;
    border-radius: 100px!important;
}


.btn-CTA {
    background-color: #D72323;
    color: white;
}

.btn-CTA:hover {
    color: rgb(225, 225, 225);
}

#home-landing {
    height: 100vh;
    background: url('images/background.jpg') no-repeat center;
    background-size: cover;
}

.brand-logo {
    width: 100px;
    height: auto;
}

.navbar-brand img {
    margin: 0;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.jumbotron-center-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 300px;
}

#how-it-works {
    background-color: white;
}

#customer-favorites,
#menu {
    min-height: 800px;
    background-color: #D72323;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 5vw)
    );
}

footer {
    background-color: #17202A;
}

.copy-text {
    font-size: .8em;
}

.grid-price {
    font-size: 2em;
    font-weight: 600;
}

.menu-card {
    min-height: 28em;
}

#menu-loader {
    height: 200px;
}

.menu-grid-container {
    display: none;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .card-testimonital {
        min-height: 38em;
    }

    .card-img-top {
        width: 100%;
        height: 240px;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        height: 100px;
    }

    .navbar-brand img {
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
    }

    .card-img-top {
        width: 100%;
        height: 180px;
    }
}

.chip{
    -ms-flex-align:center;
    -ms-flex-pack:center;
    align-items:center;
    background-color:#e0e0e0;
    border:0;
    border-radius:1rem;
    color:rgba(0,0,0,.87);
    display:-ms-inline-flexbox;
    display:inline-flex;
    font-size:.875rem;
    font-weight:400;
    height:2rem;
    justify-content:center;
    line-height:1;padding-left:.75rem;
    padding-right:.75rem;
    position:relative;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap
}

.chip-img {
    -ms-flex-order: -1;
    border-radius: 1rem;
    flex-shrink: 0;
    height: 2rem;
    margin-left: -.75rem;
    margin-right: .5rem;
    order: -1;
    width: auto;
}

.checkout{
    background-color: #ffffff;
    padding: 1.5rem;
    text-align: center;
}
.fa-cog {
    color: #17202A;
    padding: 20px;
}

.test{
    margin: auto;
}

.productsContainer {
    min-height: 100vh;
    background: transparent;
    color: #fff;
}

.productWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.productCard {
    margin: 1rem 2rem;
    line-height: 2;
    width: 300px;
    background: white;

}

.productImg {
    padding-top: 10px;
    height: 200px;
    min-width: 200px;
    max-width: 85%;
}

.productsHeading {
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-align: center;
    margin: 3rem;

}

.productTitle {
    font-weight: 600;
    font-size: 1.7rem;
    color: black;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: black;

}

.productDescription {
    margin-bottom: 1rem;
}

.productPrice {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.productButton {
    font-size: 1rem;
    padding: 1rem 4rem;
    border: none;
    background: #e31837;
    color: #fff;
    transition: 0.2s ease-out;
}
.productButton:hover {
     background: #ffc500;
     transition: 0.2s ease-out;
     cursor: pointer;
     color: #000;
}

.nav-cart{
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    margin-top: 4px;
}

.nav-cart span{
    position: absolute;
    top: 12px;
    right: 6px;
    background-color: #e31837;
    font-size: 10px;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    z-index: -1;
}